@import "../../../styles/variables";

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid $primary-color;
  animation: spin 1s linear infinite;
}

.small {
  width: 20px;
  height: 20px;
}

.medium {
  width: $spinner-size;
  height: $spinner-size;
}

.large {
  width: 60px;
  height: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
