@import "../../styles/variables";

.footer {
  margin-top: $spacing-xxl;
  text-align: center;
  padding-top: $spacing-lg;
  border-top: $border-width solid $border-color;
  color: $footer-text;
}

.link {
  color: $primary-color;
  text-decoration: none;
  margin-left: $spacing-xs;

  &:hover {
    text-decoration: underline;
  }
}
