@import "../../styles/variables";

.errorSection {
  grid-column: 1 / -1;
  margin-top: $spacing-lg;
}

.errorMessage {
  background-color: #ffebee;
  border-left: 4px solid $error-color;
  padding: $spacing-base;
  border-radius: $border-radius-sm;

  h3 {
    margin-bottom: $spacing-sm;
    color: $error-color;
  }
}
